@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500px;
    color:  #424242;

}
nav li a{
    text-decoration: none;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    align-items: center;
}
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
   
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFF;
    padding: 18px 35px;
    cursor: pointer;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

main{
    max-width: 1440px;
    margin: 70px auto;
 }
 .teams-container{
    display: flex;
    align-items: center;
 }
 .teams-img-container{
    display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 24px;
 }
 .teams-content{
    margin-right: 70px;
    margin-left: 70px;
 }
.teams-description{
color:  #727272;

font-size: 16px;
font-weight: 400;
}


@media screen and (max-width: 576px) {
     header{
        padding: 20px;
        
     }
     nav{
        flex-direction: column;
     }
     .teams-container{
        flex-direction: column;
     }
     .teams-img-container{
        grid-template-columns: 1fr;
     }
     .teams-content{
        margin-right: 20px;
        margin-left: 20px
     
     }
    }
     @media  screen and (min-width:576px) and (max-width: 960px)  {
        nav{
            flex-direction: column;
        }
        header{
            50px;
        } 
        .teams-container{
            flex-direction: column;
        }

    }